<div>
  <ngx-loading [show]="loading"></ngx-loading>
    <mat-vertical-stepper class="transparente" [linear]="true" #stepper>
      <mat-step [stepControl]="formEquipamento">
        <form  fxLayout="column" class="example-form" [formGroup]="formEquipamento">
          <ng-template class="steper" matStepLabel>Dados do equipamento</ng-template>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex>
                <input 
                    class="form-input"
                    matInput 
                    placeholder="Descrição (Obrigatório)" 
                    formControlName="descricao"
                    name="descricao" 
                    [(ngModel)]="equipamento.descricao"  />
            </mat-form-field>
          </div>
          <div class="input-row"  fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex >
                <input matInput placeholder="" style="display: none">
                <mat-checkbox 
                    formControlName="isAtivo"    
                    labelPosition='before'
                    [(ngModel)]="equipamento.isAtivo">Ativo</mat-checkbox>
            </mat-form-field>
          </div>
          <div>
            <button 
              mat-raised-button 
              title="Cancela operação e retorna para tela de consulta" 
              [routerLink]="['/equipamentos']" 
              type="button"
              class="botao-cancelar" >Cancelar</button>
            <button 
              mat-raised-button 
              class="botao-proximo"
              matStepperNext 
              title="Salvar dados">Próximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formImagem">
        <form  fxLayout="column" class="example-form" [formGroup]="formImagem">
          <ng-template matStepLabel>Selecionar imagem</ng-template>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex>
              <input matInput placeholder="" style="display: none">
              <div>
                <img 
                  *ngIf="!novaFoto &&  equipamento && equipamento.imagem" 
                  [src]="equipamento.imagem" 
                  class="imagem-preview" />
                  <!-- *ngIf="!equipamento || !equipamento.imagem" -->
                  <img 
                    *ngIf="novaFoto || !equipamento.imagem"
                    [src]="imageUrl" 
                    class="imagem-preview" />
              </div>
              <button type="button" mat-raised-button (click)="arquivoInput.click()" class="botao-selecionar-imagem">
                Selecionar imagem
              </button>
              <button type="button" mat-raised-button (click)="removerImagemInServer()" class="botao-remover-imagem">
                Remover imagem
              </button>
              <input 
                hidden
                multiple="false" 
                type="file" 
                accept=".png, .gif, .jpg, .jpeg" 
                #arquivoInput 
                (change)="setArquivo($event)">
            </mat-form-field>
          </div>
          <div>
            <button 
                mat-raised-button 
                matStepperPrevious 
                class="botao-voltar"
                title="Voltar para etapa anterior" >Anterior</button>
            <button 
                mat-raised-button 
                matStepperNext 
                class="botao-finalizar"
                title="Salvar dados" 
                color="primary"
                (click)="salvar()">Finalizar</button>
            <button 
                mat-raised-button 
                title="Cancela operação e retorna para tela de consulta" 
                [routerLink]="['/equipamentos']" 
                class="botao-cancelar" >Cancelar</button>
        </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </div>