<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> 
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ academia?.razaoSocial }}</mat-card-title>
    <mat-card-subtitle>{{ academia?.nomeFantasia }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <label>CNPJ:</label>
      <label>{{academia?.cnpj | mask: '00.000.000/0000-00' }}</label>
    </div>
    <div>
      <label>Telefone:</label>
      <label>{{academia?.telefone | mask: '(00)0000-0000?0'}}</label>
    </div>
    <div>
      <label>Status:</label>
      <label>{{academia?.isAtiva == true? 'Ativa': 'Inativa'}}</label>
    </div>
    <div>
      <label>Proprietário:</label>
      <label>{{academia?.pessoaProprietario?.id}} - {{academia?.pessoaProprietario?.nome}}</label>
    </div>
    <div>
      <label>Cidade:</label>
      <label>{{academia?.cidade}}</label>
    </div>
    <div>
      <label>Endereço:</label>
      <label>{{academia?.endereco}}</label>
    </div>
    <div>
      <label>CEP:</label>
      <label>{{academia?.cep | mask: '00.000-000'}}</label>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a 
      mat-raised-button 
      [routerLink]="['/academias']" 
      color="warn" 
      title="Voltar para a tela de consulta">Voltar</a>
    <button 
      mat-raised-button 
      (click)="editar(academia?.id)"
      color="primary" 
      title="Editar dados">Editar</button>
  </mat-card-actions>
</mat-card>