<div class="mat-elevation-z8">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> 
  <div class="filtro-tabela">
    <mat-form-field fxFlex>
      <input matInput (keyup)="listByfilters($event.target.value)" placeholder="Filtrar" class="filtro-texto">
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dadosTable" class="mat-elevation-z8">
      <!-- Razao social Column -->
    <ng-container matColumnDef="razaoSocial">
      <mat-header-cell  fxFlex="30%" *matHeaderCellDef> Razão Social </mat-header-cell>
      <mat-cell  fxFlex="30%" *matCellDef="let element"> {{element.razaoSocial}} </mat-cell>
    </ng-container>

    <!-- cidade Column -->
    <ng-container matColumnDef="cidade">
      <mat-header-cell  fxFlex="15%" *matHeaderCellDef> Cidade </mat-header-cell>
      <mat-cell  fxFlex="15%" *matCellDef="let element"> {{element.cidade}} </mat-cell>
    </ng-container>

    <!-- telefone Column -->
    <ng-container matColumnDef="telefone">
      <mat-header-cell fxFlex="15%" *matHeaderCellDef> Telefone </mat-header-cell>
      <mat-cell fxFlex="15%" *matCellDef="let element"> {{element.telefone | mask: '(00) 0000-0000?0' }} </mat-cell>
    </ng-container>

    <!-- id Column -->
    <ng-container matColumnDef="id" >
      <mat-header-cell fxFlex="8%" *matHeaderCellDef> Código </mat-header-cell>
      <mat-cell fxFlex="8%" *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <mat-header-cell  fxFlex="32%" *matHeaderCellDef></mat-header-cell>
      <mat-cell  fxFlex="32%" *matCellDef="let element">
        <button 
          mat-button 
          routerLink="/academias/{{element.id}}"
          title="Detalhar">
          <mat-icon>description</mat-icon>
        </button>   
        <button mat-button routerLink="/academias/editar/{{element.id}}">
          <mat-icon>edit</mat-icon>
        </button>  
        <button mat-button (click)="delete(element.id)">
          <mat-icon>delete</mat-icon>
        </button>  
      </mat-cell>
    </ng-container>

      <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
      <mat-row *matRowDef="let academia; columns: colunas;"></mat-row>

  </mat-table>
  <app-paginator-default [dadosTable]="dadosTable"></app-paginator-default>
</div>