<div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> 
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="formGrupoStep1">
      <form  fxLayout="column" class="example-form" [formGroup]="formGrupoStep1">
        <ng-template matStepLabel>Cadastro de treino - Selecionar aluno</ng-template>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <div fxFlex="55%">
            <mat-form-field fxFlex="85%" class="example-full-width" >
              <div> 
                <input 
                  matInput 
                  placeholder="Aluno (Obrigatório)" 
                  aria-label="alunoSelecionado" 
                  formControlName="alunoSelecionado"
                  [value]="alunoSelecionado?.nome"
                  [(ngModel)]="alunoSelecionado"/>
              </div>
            </mat-form-field>
            <div fxFlex="15%">
              <button 
                mat-raised-button 
                color="primary"
                (click)="abrirDialog()">Buscar Alunos</button>
            </div>
          </div>
        </div>
        <div>
          <button 
            mat-raised-button 
            matStepperNext 
            title="Ir para a próxima etapa">Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formGrupoStep2">
      <form  fxLayout="column" class="example-form" [formGroup]="formGrupoStep2">
        <ng-template matStepLabel>Cadastro de treino</ng-template>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <mat-form-field fxFlex>
            <input 
              matInput 
              placeholder="Nome Para o treino (Obrigatório)" 
              formControlName="nome"
              name="nome" 
              [(ngModel)]="treino.nome"  />
          </mat-form-field>
        </div>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <mat-form-field fxFlex>
            <input 
                matInput 
                [min]="minDate"
                [matDatepicker]="picker" 
                placeholder="Data de início do treino (Obrigatório)"  
                formControlName="dataInicio"
                name="dataInicio" 
                [(ngModel)]="treino.dataInicio">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input 
              matInput 
              [min]="minDate"
              [matDatepicker]="pickerFim" 
              placeholder="Data de Término do treino (Obrigatório)"  
              formControlName="dataFim"
              name="dataFim" 
              [(ngModel)]="treino.dataFim">
            <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
            <mat-datepicker touchUi  #pickerFim disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <mat-form-field fxFlex>
            <!-- <input 
                matInput 
                placeholder="Hora prevista de início (Obrigatório)"  
                formControlName="horaPrevistaInicio"
                name="horaPrevistaInicio" 
                mask="00:00"
                [dropSpecialCharacters]="false"
                [(ngModel)]="treino.horaPrevistaInicio"> -->
                <input  
                  matInput 
                  placeholder="Hora prevista de início (Obrigatório)"  
                  formControlName="horaPrevistaInicio"
                  name="horaPrevistaInicio" 
                  [owlDateTimeTrigger]="horaInicio" 
                  [(ngModel)]="treino.horaPrevistaInicio"
                  [owlDateTime]="horaInicio">
                <owl-date-time [pickerType]="'timer'" #horaInicio></owl-date-time>
          </mat-form-field>
          <mat-form-field fxFlex>
            <!-- <input 
              matInput 
              placeholder="Hora prevista de término (Obrigatório)"  
              formControlName="horaPrevistaTermino"
              name="horaPrevistaTermino" 
              mask="00:00"
              [dropSpecialCharacters]="false"
              [(ngModel)]="treino.horaPrevistaTermino"> -->
            <input  
              matInput 
              placeholder="Hora prevista de término (Obrigatório)"  
              formControlName="horaPrevistaTermino"
              name="horaPrevistaTermino" 
              [owlDateTimeTrigger]="horaFim" 
              [(ngModel)]="treino.horaPrevistaTermino"
              [owlDateTime]="horaFim">
            <owl-date-time [pickerType]="'timer'" #horaFim></owl-date-time>
          </mat-form-field>
        </div>
        <div>
          <button 
              mat-raised-button 
              matStepperPrevious 
              title="Voltar para etapa anterior">Anterior</button>
          <button 
              mat-raised-button 
              matStepperNext 
              title="Ir para a próxima etapa">Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formGroupStep3">
      <form  fxLayout="column" class="example-form" [formGroup]="formGroupStep3" >
        <ng-template matStepLabel>Selecionar dias da semana</ng-template>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <div fxLayout="column" fxFlex="55%">
              <mat-checkbox 
                labelPosition='after'
                formControlName="segunda"
                color='primary'
                [(ngModel)]="segunda">Segunda-Feira</mat-checkbox>
              <mat-checkbox 
                labelPosition='after'
                formControlName="terca"
                color='primary'
                [(ngModel)]="terca">Terça-Feira</mat-checkbox>
              <mat-checkbox 
                labelPosition='after'
                formControlName="quarta"
                color='primary'
                [(ngModel)]="quarta">Quarta-Feira</mat-checkbox>
              <mat-checkbox 
                labelPosition='after'
                formControlName="quinta"
                color='primary'
                [(ngModel)]="quinta">Quinta-Feira</mat-checkbox>
              <mat-checkbox 
                labelPosition='after'
                formControlName="sexta"
                color='primary'
                [(ngModel)]="sexta">Sexta-Feira</mat-checkbox>
              <mat-checkbox 
                labelPosition='after'
                formControlName="sabado"
                color='primary'
                [(ngModel)]="sabado">Sábado</mat-checkbox>
              <mat-checkbox 
                labelPosition='after'
                formControlName="domingo"
                color='primary'
                [(ngModel)]="domingo">Domingo</mat-checkbox>
          </div>
        </div>
        <div>
          <button 
            mat-raised-button 
            matStepperNext 
            (click)="selecionarDiasSemana()"
            title="Ir para a próxima etapa">Próximo</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="formGroupStep4">
      <form  fxLayout="column" class="example-form" [formGroup]="formGroupStep4" >
        <ng-template matStepLabel>Exercicios do treino</ng-template>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
         <app-treino-exercicio-form></app-treino-exercicio-form>
        </div>
        <div>
          <button 
            mat-raised-button 
            matStepperNext 
            (click)="selecionarDiasSemana()"
            title="Ir para a próxima etapa">Próximo</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>  