
<div>
    <ngx-loading [show]="loading"></ngx-loading>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="formStep1DadosPessoas">
        <form  fxLayout="column" class="example-form" [formGroup]="formStep1DadosPessoas">
            <ng-template matStepLabel>Dados Pessoais</ng-template>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex>
                    <input 
                        matInput 
                        placeholder="Nome (Obrigatório)" 
                        formControlName="nome"
                        name="nome" 
                        [(ngModel)]="pessoa.nome"  />
                </mat-form-field>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex>
                    <mat-select 
                        placeholder="Gênero (Obrigatório)" 
                        formControlName="genero"
                        name="genero" 
                        [(ngModel)]="pessoa.genero">
                        <mat-option *ngFor="let gen of generos" [value]="gen">{{ gen | translate }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input 
                        matInput 
                        [max]="maxDate"
                        [matDatepicker]="picker" 
                        placeholder="Data de nascimento (Obrigatório)"  
                        formControlName="dataNascimento"
                        name="dataNascimento" 
                        [(ngModel)]="pessoa.dataNascimento"/>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <button 
                    mat-raised-button 
                    title="Cancela operação e retorna para tela de consulta" 
                    [routerLink]="['/pessoas']" 
                    type="button"
                    class="botao-cancelar">Cancelar</button>
                <button 
                    mat-raised-button 
                    class="botao-proximo"
                    matStepperNext 
                    title="Ir para a próxima etapa">Próximo</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="formStep2DadosAcesso">
        <form  fxLayout="column" class="example-form" [formGroup]="formStep2DadosAcesso">
            <ng-template matStepLabel>Dados de Acesso</ng-template>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex >
                    <input 
                        matInput 
                        placeholder="Email (Obrigatório)"
                        formControlName="email"
                        name="email" 
                        [(ngModel)]="pessoa.email"/>
                </mat-form-field>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex>
                    <input 
                        matInput 
                        placeholder="Login (Opcional)"
                        formControlName="login"
                        autocomplete="off"
                        name="login" 
                        [(ngModel)]="pessoa.login"/>
                </mat-form-field>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <span *ngIf="parametroId == null" class="info-senha">A senha padrão será o login do usuário!</span>
                <!-- <mat-form-field fxFlex>
                    <input 
                        matInput 
                        placeholder="Senha (Obrigatório para conceder acesso)"
                        formControlName="senha"
                        autocomplete="off"
                        name="senha" 
                        type="password"
                        [(ngModel)]="pessoa.senha"/>
                </mat-form-field> -->
            </div> 
            <div>
                <button 
                    mat-raised-button 
                    matStepperPrevious 
                    class="botao-voltar"
                    title="Voltar para etapa anterior">Anterior</button>
                <button 
                    mat-raised-button 
                    matStepperNext 
                    class="botao-proximo"
                    title="Ir para a próxima etapa">Próximo</button>
            </div>
        </form>
    </mat-step>   
    <mat-step [stepControl]="formStep3Permissoes">
        <form  fxLayout="column" class="example-form" [formGroup]="formStep3Permissoes">
            <ng-template matStepLabel>Permissões</ng-template>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex>
                    <mat-select 
                        placeholder="Papel (Obrigatório)"
                        formControlName="papeis"
                        name="papeis" 
                        [(ngModel)]="pessoa.papeis" multiple>
                            <mat-option *ngFor="let papel of papeis" [value]="papel">{{ papel | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex >
                    <input matInput placeholder="" style="display: none">
                    <mat-checkbox 
                        formControlName="isAtivo"    
                        labelPosition='before'
                        [(ngModel)]="pessoa.isAtivo">Ativo</mat-checkbox>
                </mat-form-field>
            </div>
            <div>
                <button 
                    mat-raised-button 
                    matStepperPrevious 
                    class="botao-voltar"
                    title="Voltar para etapa anterior">Anterior</button>
                <button 
                    mat-raised-button 
                    matStepperNext 
                    class="botao-proximo"
                    title="Ir para a próxima etapa">Próximo</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="formStep4Objetivo">
        <form  fxLayout="column" class="example-form" [formGroup]="formStep4Objetivo">
            <ng-template matStepLabel>Objetivos</ng-template>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex>
                    <textarea 
                        rows="4"
                        matInput 
                        placeholder="Objetivo (Opcional)"
                        formControlName="objetivo"
                        name="objetivo" 
                        [(ngModel)]="pessoa.objetivo"></textarea>
                </mat-form-field>
            </div>
            <div>
                <button 
                    mat-raised-button 
                    matStepperPrevious 
                    class="botao-voltar"
                    title="Voltar para etapa anterior" >Anterior</button>
                <button 
                    mat-raised-button 
                    matStepperNext 
                    class="botao-finalizar"
                    title="Salvar dados" 
                    (click)="salvar()">Finalizar</button>
                <button 
                    mat-raised-button 
                    title="Cancela operação e retorna para tela de consulta" 
                    [routerLink]="['/pessoas']" 
                    class="botao-cancelar">Cancelar</button>
            </div>
        </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
