
<div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> 
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="formStep1DadosPessoas">
        <form  fxLayout="column" class="example-form" [formGroup]="formStep1DadosPessoas">
            <ng-template matStepLabel>Dados Pessoais</ng-template>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex>
                    <input 
                        matInput 
                        placeholder="Nome" 
                        formControlName="nome"
                        name="nome" 
                        [(ngModel)]="pessoa.nome"  />
                </mat-form-field>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex>
                    <mat-select 
                        placeholder="Gênero" 
                        formControlName="genero"
                        name="genero" 
                        [(ngModel)]="pessoa.genero">
                        <mat-option *ngFor="let gen of generos" [value]="gen">{{gen}}</mat-option>
                        <!-- <mat-option  [value]="gen">{{gen}}</mat-option> -->
                        <!-- <mat-option  [value]="gen">Feminino</mat-option> -->
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input 
                        matInput 
                        [matDatepicker]="picker" 
                        placeholder="Data Nascimento:"  
                        formControlName="dataNascimento"
                        name="dataNascimento" 
                        [(ngModel)]="pessoa.dataNascimento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <button 
                    mat-raised-button 
                    matStepperNext 
                    title="Ir para a próxima etapa">Próximo</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="formStep2DadosAcesso">
        <form  fxLayout="column" class="example-form" [formGroup]="formStep2DadosAcesso">
            <ng-template matStepLabel>Dados de Acesso</ng-template>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex >
                    <input 
                        matInput 
                        placeholder="Email:"
                        formControlName="email"
                        name="email" 
                        [(ngModel)]="pessoa.email"/>
                </mat-form-field>
            </div>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex>
                    <input 
                        matInput 
                        placeholder="Login:"
                        formControlName="login"
                        autocomplete="off"
                        name="login" 
                        [(ngModel)]="pessoa.login"/>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input 
                        matInput 
                        placeholder="Senha:"
                        formControlName="senha"
                        autocomplete="off"
                        name="senha" 
                        type="password"
                        [(ngModel)]="pessoa.senha"/>
                </mat-form-field>
            </div> 
            <div>
                <button 
                    mat-raised-button 
                    matStepperPrevious 
                    title="Voltar para etapa anterior">Anterior</button>
                <button 
                    mat-raised-button 
                    matStepperNext 
                    title="Ir para a próxima etapa">Próximo</button>
            </div>
        </form>
    </mat-step>   
    <mat-step [stepControl]="formStep3Permissoes">
        <form  fxLayout="column" class="example-form" [formGroup]="formStep3Permissoes">
            <ng-template matStepLabel>Permissões</ng-template>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex>
                    <mat-select 
                        placeholder="Papel"
                        formControlName="papel"
                        name="papel" 
                        [(ngModel)]="pessoa.papel">
                            <mat-option *ngFor="let papel of papeis" [value]="papel">{{papel}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex >
                    <input matInput placeholder="" style="display: none">
                    <mat-checkbox 
                        formControlName="isAtivo"    
                        labelPosition='before'
                        [disabled]="parametroId == null"
                        [(ngModel)]="pessoa.isAtivo">Ativo</mat-checkbox>
                </mat-form-field>
            </div>
            <div>
                <button 
                    mat-raised-button 
                    matStepperPrevious 
                    title="Voltar para etapa anterior">Anterior</button>
                <button 
                    mat-raised-button 
                    matStepperNext 
                    title="Ir para a próxima etapa">Próximo</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="formStep4Objetivo">
        <form  fxLayout="column" class="example-form" [formGroup]="formStep4Objetivo">
            <ng-template matStepLabel>Objetivos</ng-template>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex>
                    <textarea 
                        rows="4"
                        matInput 
                        placeholder="Objetivo"
                        formControlName="objetivo"
                        name="objetivo" 
                        [(ngModel)]="pessoa.objetivo"></textarea>
                </mat-form-field>
            </div>
            <div>
                <button 
                    mat-raised-button 
                    matStepperPrevious 
                    title="Voltar para etapa anterior" >Anterior</button>
                <button 
                    mat-raised-button 
                    matStepperNext 
                    title="Salvar dados" 
                    (click)="salvar()">Finalizar</button>
            </div>
        </form>
    </mat-step>
  </mat-vertical-stepper>
  <button 
    mat-raised-button 
    title="Cancela operação e retorna para tela de consulta" 
    [routerLink]="['/pessoas']" 
    color="warn">Cancelar</button>
</div>
