<ngx-loading [show]="loading"></ngx-loading>
<div class="mat-elevation-z8">
  <div class="filtro-tabela">
    <mat-form-field fxFlex>
      <input matInput (keyup)="listByfilters($event.target.value)" placeholder="Filtrar" class="filtro-texto">
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dadosTable" class="mat-elevation-z8">
    <!-- descricao Column -->
    <ng-container matColumnDef="descricao">
      <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.descricao}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acoes">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <button 
            *ngIf="ocultarBotoes == false"
            mat-button 
            routerLink="/equipamentos/{{element.id}}"
            title="Detalhar">
            <mat-icon class="icone">description</mat-icon>
          </button>  
          <button 
            *ngIf="ocultarBotoes == false"
            mat-button 
            routerLink="/equipamentos/editar/{{element.id}}"
            title="Editar dados">
            <mat-icon class="icone">edit</mat-icon>
          </button>  
          <button 
            *ngIf="ocultarBotoes == false"
            mat-button 
            (click)="delete(element.id)"
            title="Remover">
            <mat-icon class="icone-cancelar">delete</mat-icon>
          </button> 
          <button 
            *ngIf="ocultarBotoes == true"
            mat-button 
            (click)="selecionar(element)"
            title="Selecionar">
            <mat-icon class="icone">touch_app</mat-icon>
          </button> 
        </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
    <mat-row  *matRowDef="let equipamento; columns: colunas;"></mat-row>
  </mat-table>
  <app-paginator-default [dadosTable]="dadosTable"></app-paginator-default>
</div>