<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> 
<div class="filtro">
  <!-- <button mat-button routerLinkActive="active" (click)="cadastrar()">
    Cadastrar
  </button> -->
  <div class="input-row">
    <mat-form-field fxFlex>
      <input matInput (keyup)="filtrar($event.target.value)" placeholder="Filtrar" class="filtro-texto">
    </mat-form-field>
  </div>
  <!-- <mat-form-field>
    <mat-select [(value)]="statusFiltro" (change)="filtrarSelect()"
      placeholder="Status">
          <mat-option [value]="true">Ativo</mat-option>
          <mat-option [value]="false">Inativo</mat-option>
    </mat-select>
  </mat-form-field> -->
</div>
<mat-table [dataSource]="dadosTable" class="mat-elevation-z8">
  <!-- Nome Column -->
  <ng-container matColumnDef="Nome">
    <mat-header-cell fxFlex="30%" *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell fxFlex="30%" *matCellDef="let element"> {{element.nome}} </mat-cell>
  </ng-container>

  <!-- E-mail Column -->
  <ng-container matColumnDef="E-mail">
    <mat-header-cell fxFlex="22%" *matHeaderCellDef>E-mail</mat-header-cell>
    <mat-cell fxFlex="22%" *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <!-- Stats Column -->
  <ng-container matColumnDef="Status">
    <mat-header-cell fxFlex="8%" *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell fxFlex="8%" *matCellDef="let element"> {{element.isAtivo == true ? 'Ativo' : 'Inativo'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Id">
    <mat-header-cell fxFlex="8%" *matHeaderCellDef> Código </mat-header-cell>
    <mat-cell fxFlex="8%" *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="Acoes">
      <mat-header-cell fxFlex="32%" *matHeaderCellDef></mat-header-cell>
      <mat-cell fxFlex="32%" *matCellDef="let element"> 
        <button 
          mat-button 
          *ngIf="ocultarBotoes == false"
          routerLink="/pessoas/{{element.id}}"
          title="Detalhar">
          <mat-icon>description</mat-icon>
        </button>   
        <button 
          mat-button 
          *ngIf="ocultarBotoes == false"
          routerLink="/pessoas/editar/{{element.id}}"
          title="Editar">
          <mat-icon>edit</mat-icon>
        </button>  
        <button 
          mat-button 
          *ngIf="ocultarBotoes == false"
          (click)="delete(element.id)"
          title="Remover">
          <mat-icon>delete</mat-icon>
        </button>  
        <button 
          *ngIf="ocultarBotoes == true"
          mat-button 
          (click)="selecionar(element)"
          title="Selecionar">
          <mat-icon>touch_app</mat-icon>
        </button> 
      </mat-cell>
    </ng-container>

  <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
  <!-- <mat-row *matRowDef="let pessoa; columns: colunas;" /*(click)="editar(pessoa.id)"*/?></mat-row> -->
  <mat-row *matRowDef="let pessoa; columns: colunas;"></mat-row>
</mat-table>