<!-- <mat-toolbar color="primary" role="heading">
  <span>Gym Body System</span>
  <button md-icon-button [mdMenuTriggerFor]="menu" >
    <md-icon>more_vert</md-icon>
  </button>
</mat-toolbar> -->

<!-- mdMenuTriggerFor serve para exibir o menu neste botao -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Gym Body System</span>

    <span class="example-spacer"></span>
    
    <button mat-button [matMenuTriggerFor]="menuPessoas" >Pessoas</button>
    <mat-menu #menuPessoas="matMenu">
      <button mat-menu-item routerLink="/pessoas">Consultar</button>
      <button mat-menu-item routerLink="/pessoas/cadastrar">Cadastrar</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="menuGrupoMuscular">Grupos Musculares</button>
    <mat-menu #menuGrupoMuscular="matMenu">
      <button mat-menu-item routerLink="/grupos-musculares">Consultar</button>
      <button mat-menu-item routerLink="/grupos-musculares/cadastrar">Cadastrar</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuEquipamento">Equipamentos</button>
    <mat-menu #menuEquipamento="matMenu">
      <button mat-menu-item routerLink="/equipamentos">Consultar</button>
      <button mat-menu-item routerLink="/equipamentos/cadastrar">Cadastrar</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuExercicios" >Exercícios</button>
    <mat-menu #menuExercicios="matMenu">
      <button mat-menu-item routerLink="/exercicios">Consultar</button>
      <button mat-menu-item routerLink="/exercicios/cadastrar">Cadastrar</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="menuTreino" >Treinos</button>
    <mat-menu #menuTreino="matMenu">
      <button mat-menu-item routerLink="/treinos">Consultar</button>
      <button mat-menu-item routerLink="/treinos/cadastrar">Cadastrar</button>
    </mat-menu>
    <button mat-button (click)="logout()" >Sair</button>
  </mat-toolbar-row>
</mat-toolbar>
