<!-- <mat-toolbar color="primary" role="heading">
  <span>Gym Body System</span>
  <button md-icon-button [mdMenuTriggerFor]="menu" >
    <md-icon>more_vert</md-icon>
  </button>
</mat-toolbar> -->

<!-- mdMenuTriggerFor serve para exibir o menu neste botao -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Gym Body App</span>
  
      <span class="example-spacer"></span>
      
      <button mat-button [matMenuTriggerFor]="menuPessoas" >Pessoas</button>
      <mat-menu #menuPessoas="matMenu">
        <button mat-menu-item routerLink="/pessoas">Listar</button>
        <button mat-menu-item routerLink="/pessoas/cadastrar">Cadastrar</button>
      </mat-menu>
      <button mat-button>Services</button>
      <button mat-button>Contact</button>
    </mat-toolbar-row>
  </mat-toolbar>
