<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> 
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ pessoa?.nome }}</mat-card-title>
    <mat-card-subtitle>{{ pessoa?.papel }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <label>Gênero:</label>
      <label>{{pessoa?.genero}}</label>
    </div>
    <div>
      <label>Data de Nascimento:</label>
      <label>{{pessoa?.dataNascimento | date:"dd/MM/yyyy"}}</label>
    </div>
    <div>
      <label>Login:</label>
      <label>{{pessoa?.login}}</label>
    </div>
    <div>
      <label>E-mail:</label>
      <label>{{pessoa?.email}}</label>
    </div>
    <div>
      <label>Objetivo:</label>
      <label>{{pessoa?.objetivo}}</label>
    </div>
    <div>
      <label>Status:</label>
      <label>{{pessoa?.isAtivo == true? 'Ativo': 'Inativo'}}</label>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a 
      mat-raised-button 
      [routerLink]="['/pessoas']" 
      color="warn" 
      title="Voltar para a tela de consulta">Voltar</a>
    <button 
      mat-raised-button 
      (click)="editar(pessoa?.id)"
      color="primary" 
      title="Editar dados">Editar</button>
  </mat-card-actions>
</mat-card>