<ngx-loading [show]="loading"></ngx-loading>
<mat-card>
  <mat-card-header class="card-content">
    <mat-card-title>{{ pessoa?.nome }}</mat-card-title>
    <mat-card-subtitle>{{ pessoa?.papel }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="card-content">
      <div>
        <p>
          Gênero:
          <strong>{{pessoa?.genero}}</strong>
        </p>
        <p>
          Data de Nascimento:
          <strong>{{pessoa?.dataNascimento | date:"dd/MM/yyyy"}}</strong>
        </p>
        <p>
          Login:
          <strong>{{pessoa?.login}}</strong>
        <p>
          E-mail:
          <strong>{{pessoa?.email}}</strong>
        </p>
        <p>
          Objetivo:
          <strong>{{pessoa?.objetivo}}</strong>
        </p>
        <p>
          Status:
          <strong>{{pessoa?.isAtivo == true? 'Ativo': 'Inativo'}}</strong>
        </p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="card-content">
      <div>
        <a 
          mat-raised-button 
          class="botao-cancelar"
          [routerLink]="['/pessoas']" 
          title="Voltar para a tela de consulta">Voltar</a>
        <button 
          mat-raised-button 
          class="botao-proximo"
          (click)="editar(pessoa?.id)"
          color="primary" 
          title="Editar dados">Editar</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>