<ngx-loading [show]="loading"></ngx-loading>
<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Treino: {{ treino?.nome }}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <span>Aluno: {{ treino?.aluno?.nome }} - Personal: {{ treino?.personal?.nome }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <span>Data início:</span>
        <span>{{ treino?.dataInicio | date: 'dd/MM/yyyy' }}</span>
        - 
        <span>Data fim:</span>
        <span>{{ treino?.dataFim | date: 'dd/MM/yyyy' }}</span>
      </div>
      <div>
        <mat-accordion class="according">
            <mat-expansion-panel *ngFor="let treinoExercicio of treino?.treinoExercicios">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Exercício: {{ treinoExercicio?.exercicio?.nome }}
                </mat-panel-title>
                <mat-panel-description>
                  Dados do exercício
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              <p>Tipo do exercício: {{ treinoExercicio?.tipoTreinoExercicio }}</p>
              <p>Nr. Séries: {{ treinoExercicio?.series }}</p>
              
              <p *ngIf="treinoExercicio?.tipoTreinoExercicio == 'CARGA_REPETICOES' ">Carga (Kg): {{ treinoExercicio?.carga }}</p>
              <p *ngIf="treinoExercicio?.tipoTreinoExercicio != 'TEMPO' ">Repetições: {{ treinoExercicio?.repeticoes }}</p>
              
              <p *ngIf="treinoExercicio?.tipoTreinoExercicio == 'TEMPO' ">Tempo (Min): {{ treinoExercicio?.tempoMin }}</p>

              <p>Observações: {{ treinoExercicio?.observacoes }}</p>
              
            </mat-expansion-panel>
          </mat-accordion>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a 
        mat-raised-button 
        [routerLink]="['/treinos']" 
        color="warn" 
        title="Voltar para a tela de consulta">Voltar</a>
      <button 
        mat-raised-button 
        (click)="editar(treino?.id)"
        color="primary" 
        title="Editar dados">Editar</button>
    </mat-card-actions>
  </mat-card>
