<div>
  <ngx-loading [show]="loading"></ngx-loading>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="formGrupoMusular">
      <form  fxLayout="column" class="example-form" [formGroup]="formGrupoMusular">
        <ng-template matStepLabel>Dados Pessoais</ng-template>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex>
                <input 
                    matInput 
                    placeholder="Nome (Obrigatório)" 
                    formControlName="nome"
                    name="nome" 
                    [(ngModel)]="grupoMuscular.nome"  />
            </mat-form-field>
        </div>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <mat-form-field fxFlex>
              <textarea 
                  matInput 
                  rows="4"
                  placeholder="Descrição (Opcional)" 
                  formControlName="descricao"
                  name="descricao" 
                  [(ngModel)]="grupoMuscular.descricao" ></textarea>
          </mat-form-field>
      </div>
      <div>
          <button 
            mat-raised-button 
            matStepperNext 
            class="botao-finalizar"
            title="Salvar dados" 
            (click)="salvar()">Salvar</button>
          <button 
            mat-raised-button 
            title="Cancela operação e retorna para tela de consulta" 
            [routerLink]="['/grupos-musculares']" 
            class="botao-cancelar">Cancelar</button>
      </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  
</div>
          